doctype html
html(lang='nl')
  head
    title Kweeni
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', type='text/css', href='css/reset.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
  body
    header
      .container
        .logo
          img(src='https://rafaeldesign.be/school/webtech/kweeni/assets/logo.svg', alt='Header Image')
        .user
          p Anneke Kodeur
          a(href='#') Log uit
          img(src='https://rafaeldesign.be/school/webtech/kweeni/assets/user8.png', alt='Profile Picture')
    section.question-form
      .container
        h1
          | Iets kweeni hoe moeilijk? Stel hier je vraag.
        form(action='')
          input(type='text')
          button Nu vragen
    section.topics
      .container
        h2 Hot topics!
        ul
          li
            .likes
              img(src='https://rafaeldesign.be/school/webtech/kweeni/assets/icon-cool.svg', alt='Like Icon')
              p x33
            p Dit is een vele langere vraag?
            .user
              p Yves Dehipster
              img(src='https://rafaeldesign.be/school/webtech/kweeni/assets/user1.png', alt='Profile Picture')
          li
            .likes
              img(src='https://rafaeldesign.be/school/webtech/kweeni/assets/icon-cool.svg', alt='Like Icon')
              p x33
            p Dit is een vraag?
            .user
              p Yves Dehipster
              img(src='https://rafaeldesign.be/school/webtech/kweeni/assets/user2.png', alt='Profile Picture')
          li
            .likes
              img(src='https://rafaeldesign.be/school/webtech/kweeni/assets/icon-cool.svg', alt='Like Icon')
              p x33
            p Dit is een vele langere vraag?
            .user
              p Yves Dehipster
              img(src='https://rafaeldesign.be/school/webtech/kweeni/assets/user3.png', alt='Profile Picture')
          li
            .likes
              img(src='https://rafaeldesign.be/school/webtech/kweeni/assets/icon-cool.svg', alt='Like Icon')
              p x33
            p Dit is een vraag?
            .user
              p Yves Dehipster
              img(src='https://rafaeldesign.be/school/webtech/kweeni/assets/user4.png', alt='Profile Picture')
          li
            .likes
              img(src='https://rafaeldesign.be/school/webtech/kweeni/assets/icon-cool.svg', alt='Like Icon')
              p x33
            p Dit is een vraag?
            .user
              p Yves Dehipster
              img(src='https://rafaeldesign.be/school/webtech/kweeni/assets/user5.png', alt='Profile Picture')
          li
            .likes
              img(src='https://rafaeldesign.be/school/webtech/kweeni/assets/icon-cool.svg', alt='Like Icon')
              p x33
            p Dit is een vraag?
            .user
              p Yves Dehipster
              img(src='https://rafaeldesign.be/school/webtech/kweeni/assets/user6.png', alt='Profile Picture')
          li
            .likes
              img(src='https://rafaeldesign.be/school/webtech/kweeni/assets/icon-cool.svg', alt='Like Icon')
              p x33
            p Dit is een vraag?
            .user
              p Yves Dehipster
              img(src='https://rafaeldesign.be/school/webtech/kweeni/assets/user7.png', alt='Profile Picture')
          li
            .likes
              img(src='https://rafaeldesign.be/school/webtech/kweeni/assets/icon-cool.svg', alt='Like Icon')
              p x33
            p Dit is een vraag?
            .user
              p Yves Dehipster
              img(src='https://rafaeldesign.be/school/webtech/kweeni/assets/user8.png', alt='Profile Picture')
          li
            .likes
              img(src='https://rafaeldesign.be/school/webtech/kweeni/assets/icon-cool.svg', alt='Like Icon')
              p x33
            p Dit is een vraag?
            .user
              p Yves Dehipster
              img(src='https://rafaeldesign.be/school/webtech/kweeni/assets/user9.png', alt='Profile Picture')
          li
            .likes
              img(src='https://rafaeldesign.be/school/webtech/kweeni/assets/icon-cool.svg', alt='Like Icon')
              p x33
            p Dit is een vraag?
            .user
              p Yves Dehipster
              img(src='https://rafaeldesign.be/school/webtech/kweeni/assets/user10.png', alt='Profile Picture')
        a.more(href='#') Toon 10 extra topics
